div.page-section.page-section_dark.page-section_form
	div.container
		div.row.justify-content-center
			div.col-12.col-md-10.col-lg-8.col-xl-6
				form.form

					div.row
						div.col
							h2.form__title Начать сотрудничество

					div.row.mb-4
						div.col-6
							div.form-group
								label.form-group__label(for='userName') ФИО
								input.form-group__field(type="text" id='userName' autocomplete='off')

						div.col-6
							div.form-group
								label.form-group__label(for='userCity') Город
								input.form-group__field(type="text" id='userCity' autocomplete='off')

					div.row.mb-5
						div.col-6
							div.form-group
								label.form-group__label(for='userCompany') Компания
								input.form-group__field(type="text" id='userCompany' autocomplete='off')

						div.col-6
							div.form-group
								label.form-group__label(for='userPhone') Телефон
								input.form-group__field(type="tel" id='userPhone' autocomplete='off')

					div.row.justify-content-center
						button.button.button_primary.button_xl(type='submit') Отправить заявку

					div.row
						div.col
							span.form__description *А он – действительно классный