div.page-section.page-section_white.profits
	div.container
		div.row
			div.col-12
				+heading('Ваши выгоды от продукта')

		div.row
			div.col-4
				div.profits-item
					h3.profits-item__title Продукт класса &laquo;Премиум&raquo;
						br
						| без переплат
					span.profits-item__text Изделия высочайшего качества, премиальная «картинка», при этом цена в 1,5-2 раза ниже, чем у известных премиальных брендов

			div.col-4
				div.profits-item
					h3.profits-item__title Максимальный охват
						br
						| целевой аудитории
					span.profits-item__text.profits-item__text_bold Широкое товарное предложение для различных возрастных и платежеспособных групп:

					ul.list
						li.list__item Яркие базовые entry-price модели, на которые всегда сохраняется спрос
						li.list__item Премиальные концептуальные модели: строгие платья и костюмы для офиса, вечерние наряды
						li.list__item Дубленки и полушубки класса люкс из натурального меха кролика и лисы

			div.col-4
				div.profits-item
					h3.profits-item__title Уникальные возможности для дополнительных продаж
					ul.list
						li.list__item Сочетание изделий между собой внутри брендов
						li.list__item Создание total-look за счет простоты создания эффектных комплектов из однотонных изделий и  тематических капсул коллекций
						li.list__item Доверие к продавцу, который с легкостью подбирает подходящие сочетания и рекомендует именно то, что идеально подходит покупателю

			div.col-4
				div.profits-item
					h3.profits-item__title Минимум рисков
					span.profits-item__text Оперативный цикл производства позволяет проанализировать продажи уже после первого заказ

			div.col-4
				div.profits-item
					h3.profits-item__title.profits-item__title_solo Рекомендуемый mark up 2.5

			div.col-4
				div.profits-item
					h3.profits-item__title.profits-item__title_solo Регулярные поставки со склада в москве