div.row.info
	div.col-4
		article.info-item
			h3.info-item__title 2 Коллекции в год.
				br
				| Только актуальные модели

			div.info-item-content
				span.info-item-content__title Весна-Лето
				span.info-item-content__text (заказ:
					=" "
					b 1 октября - 10 ноября
					| )
					br
					| Поставки: январь. февраль, март

			div.info-item-content
				span.info-item-content__title Осень-Зима
				span.info-item-content__text (заказ:
					=" "
					b 15 марта - 30 апреля
					| )
					br
					| Поставки: вторая половина июля, августа, сентября, первая половина октября

	div.col-4
		article.info-item
			h3.info-item__title Только
				br
				| идеальные модели

			div.info-item-content
				span.info-item-content__title 350-400 коммерческих SKU с идеальным кроем
				span.info-item-content__text основной акцент на самые актуальные товарные группы в зависимости от модных тенденций, климата, анализа предложений конкурентов

	div.col-4
		article.info-item
			h3.info-item__title Принцип
				br
				| конструктора

			div.info-item-content
				span.info-item-content__title Создайте идеальную коллекцию для вашего  покупателя