div.page-section.page-section_light(data-place='B2B')
	div.container
		div.row
			div.col
				+heading('B2B.EVONA-NYSENSE.RU', 'Заказная сессия и свободный склад online')

		div.row.justify-content-center
			div.col.col-xl-5
				ul.list
					li.list__item Удобный и эффективный инструмент для просмотра и ознакомления с текущими и будущими коллекциями
					li.list__item Простой и понятный интерфейс, доступный с ПК, планшета и смартфона

			div.col.col-xl-5
				ul.list
					li.list__item Размещение заказов online и корректировка заказов, оформленных в шоуруме по образцам
					li.list__item Качественные фотографии, сделанные в собственной студии