div.page-section.page-section_light
	div.container
		div.row
			div.col
				+heading('Как начать сотрудничество?', 'Добро пожаловать в наш шоурум в Москве!')

		div.row
			div.col
				div.cooperation
					+svgIcon(69, 64, 'cooperation__icon', '#armchair')
					span.cooperation__text Уютный современный шоурум
						br
						| в 5 минутах от метро Тульская

			div.col
				div.cooperation
					+svgIcon(76, 64, 'cooperation__icon', '#key')
					span.cooperation__text Бронирование гостиницы
						br
						| (3 минуты пешком от шоурума)

			div.col
				div.cooperation
					+svgIcon(66, 64, 'cooperation__icon', '#powerpoint')
					span.cooperation__text Подробная презентация продукта

			div.col
				div.cooperation
					+svgIcon(56, 67, 'cooperation__icon', '#dress')
					span.cooperation__text Примерка коллекции на моделях

			div.col
				div.cooperation
					+svgIcon(76, 61, 'cooperation__icon', '#book')
					span.cooperation__text Рекомендации по заказу с учетом особенностей вашего города, предпочтений покупателя и типа магазина