@import 'tools/vendors';
@import 'tools/base';
@import 'tools/variables';
@import 'tools/fonts';
@import 'tools/sprite';
@import 'tools/animation';

@import "uikit/buttons";
@import "uikit/forms";
@import "uikit/b2b-heading";
@import "uikit/popups";
@import "uikit/sections";

@import '../components/HeaderB2B/HeaderB2B';
@import '../components/Shops/Shops';
@import '../components/MobileMenu/MobileMenu';
@import '../components/Footer/Footer';
@import '../components/Catalog/Catalog';
@import '../components/Pagination/Pagination';
@import '../components/CatalogItem/CatalogItem';
@import '../components/Search/Search';
@import '../components/Selectbox/Selectbox';

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    padding: 3*$spacer 0;

    &_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_light {
        background-color: $colorLight;
    }
}
