div.page-section.page-section_dark.page-section_form
	div.container
		div.row.justify-content-center
			div.col-4
				form.form
					div.row.mb-4
						div.col
							div.form-group
								label.form-group__label(for='userName') ФИО
								input.form-group__field(type="text" id='userName' autocomplete='off')

					div.row.mb-5
						div.col
							div.form-group
								label.form-group__label(for='userPhoneMeeting') Телефон
								input.form-group__field(type="tel" id='userPhoneMeeting' autocomplete='off')

					div.row.justify-content-center
						button.button.button_primary.button_xl(type='submit') Назначить встречу