div.page-section.page-section_light
	div.container
		div.row
			div.col-12
				+heading('3 простых шага,', 'чтобы начать сотрудничество')
		div.row
			div.col-4
				div.step(data-step='1')
					+svgIcon(65, 64, 'step__icon', '#calendar')
					span.step__text Согласовать дату и время встречи в шоуруме

			div.col-4
				div.step(data-step='2')
					+svgIcon(64, 64, 'step__icon', '#like')
					span.step__text Лично убедиться, что продукт действительно классный*

			div.col-4
				div.step(data-step='3')
					+svgIcon(88, 64, 'step__icon', '#partnership')
					span.step__text Стать партнерами, пожав друг другу руки