@import '../../styles/tools/variables';
@import '../../styles/tools/vendors';

.header {
	position: relative;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding-top: 22*$spacer;
	padding-bottom: 3.75*$spacer;
	@include media-breakpoint-down(xl) {
		padding-top: 18*$spacer; 
		padding-bottom: 2*$spacer;
	}
	
	overflow: hidden;
	
	&_scroll {
		& .header-top {
			position: fixed;

			height: 5*$spacer;
			padding: 0;
			
			background: {
				image: url(./images/header-stick-bg.png);
				color: $colorWhite;
			};
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
		}
		
		& .header-hamburger {
			display: flex;
		}
		
		& .container, .row {
			height: 100%;
		}
		
	
		& .header-top__left {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
			height: 100%;
		}
		
	
		& .header-menu {
			display: none;
		}
	
	
		& .header__phone {
			color: $colorGray;
			margin: 0 20px 0 0;
			
			@include media-breakpoint-down(xl) {
				font-size: $font-size-base;
			}
			
			b {
				color: $colorAccent;
			}
		}
		
	
		& .header__button {
			color: $colorAccent;
		}
		
		& .header-logo {
			fill: $colorAccent;
		}
		
		& .header-logo__icon_evona {
			width: 8.125*$spacer;
			margin-left: 4*$spacer;
			@include media-breakpoint-down(xl) {
				margin-left: 2*$spacer;
			}
		}
		
		& .header-logo__icon_nysense {
			width: 9.375*$spacer;
			margin-right: 4*$spacer;
			@include media-breakpoint-down(xl) {
				margin-right: 2*$spacer;
			}
		}
		
	
		& .header-languages__link {
			color: $colorAccent;
		}
		
	}
	
	&-hamburger {
		display: none;
		align-items: stretch;
		justify-content: space-between;
		flex-direction: column;
		height: 2.5*$spacer;
		padding: 0.5*$spacer;
		margin-right: 2.5*$spacer;
		cursor: pointer;
		@include transition();
		
		@include media-breakpoint-down(xl) {
			margin-right: 2*$spacer;
		}
		
		&:hover {
			background-color: $colorPrimary;
			
			.header-hamburger__line {
				background-color: $colorWhite;
			}
		}
		
		&__line {
			display: block;
			height: 3px;
			width: 1.75*$spacer;
			background-color: $colorPrimary;
			@include transition();
		}
	}
	
	&__button {
		background-color: transparent;
		color: $colorWhite;
		
		&_b2b {
			margin-right: 3*$spacer;
		}
	}
	
	&__overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		display: block;
		width: 100%;
		height: 100%;
		
		background-color: rgba($colorAccent, 0.4);
	}
	
	&-bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -$z-index-base;
		
		background: {
			image: url(./images/screen.jpg);
			size: cover;
			position: center top;
		};
		
		&__video {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			
			min-width: 100%;
			min-height: 100%;
			pointer-events: none;
		}
	}
	
	&__phone {
		display: inline-block;
		margin: 0 0 $spacer 0;
		
		color: $colorWhite;
		font-family: $font-family-second;
		font-size: 1.4*$font-size-base;
		font-weight: 100;
		line-height: 1.5*$font-size-base;
		text-transform: uppercase;
		text-decoration: none;
		@include media-breakpoint-down(xl) {
			font-size: 1.25*$font-size-base;
		}
		
		b {
			font-weight: 500
		}
	}
	
	&-logo {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		flex: 1;
		margin-top: auto;
		
		fill: $colorWhite;
		
		&__icon {
			@include transition()
		}
	}
	
	&-languages {
		&__link {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 2.375*$spacer;
			padding: 0 0.5*$spacer;
			margin: 0 0.5*$spacer;
			border-bottom: 2px solid transparent;
			
			color: $colorWhite;
			font-family: $font-family-base;
			font-size: $font-size-base;
			font-weight: 300;
			line-height: $font-size-base;
			text-transform: uppercase;
			text-decoration: none;
			
			@include media-breakpoint-down(xl) {
				height: 2.125*$spacer;
				font-size: 0.875*$font-size-base;
			}
			
			&_active {
				border-bottom-color: $colorPrimary;
				font-weight: 700;
			}
			
			&:last-child {
				margin-right: 0;
				&:before {
					content: '';
					position: absolute;
					width: 1px;
					height: $spacer;
					background-color: #9b9b9b;
					top: calc(50% - 0.5rem);
					left: -0.5rem;
				}
			}
		}
	}
	
	&-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 4.75*$spacer;
		
		&_center {
			justify-content: center;
		}
		
		&__link {
			color: $colorWhite;
			font-family: $font-family-second;
			font-size: 1.5*$font-size-base;
			font-weight: 300;
			line-height: 1.5*$font-size-base;
			text-decoration: none;
			
			@include media-breakpoint-down(xl) {
				font-size: 1.25*$font-size-base;
				line-height: 1.25*$font-size-base;
			}
		}
	}
	
	&-top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: $z-index-base;
		
		height: 15*$spacer;
		padding: 2*$spacer 0 0 0;
		
		background: {
			image: url(./images/header-bg.png);
			repeat: no-repeat;
			position: center;
		};
		
		overflow: hidden;
		
		&__left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include media-breakpoint-down(xl) {
				padding-right: 0 !important;
			}
		}
		
		&__center {
			display: flex;
			align-items: end;
			justify-content: center;
		}
		
		
		&__right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@include media-breakpoint-down(xl) {
				padding-left: 0 !important;
			}
		}
	}
	
	&-content {
		&__title {
			display: block;
			margin: 0 0 6.75*$spacer 0;
			
			color: $colorWhite;
			font-family: $font-family-accent;
			font-size: 3.75*$font-size-base;
			font-weight: 400;
			line-height: 4.5*$font-size-base;
			text-decoration: none;
			text-shadow: 0 0 36px rgba(0, 0, 0, 0.65);
			text-align: center;
			
			@include media-breakpoint-down(xl) {
				margin-bottom: 4*$spacer
			}
			
			@include media-breakpoint-down(xl) {
				margin-bottom: 2.5*$spacer;
				font-size: 2.5*$font-size-base;
				line-height: 3.25*$font-size-base;
			}
		}
	}
	
	&-download {
		position: relative;
		
		display: inline-flex;
		height: 5.25*$spacer;
		padding: 0 2*$spacer;
		background-color: $colorGrayLight;
		
		text-decoration: none;
		@include transition();
		
		@include media-breakpoint-down(xl) {
			height: 4*$spacer;
			padding: 0 $spacer;
		}
		
		&:hover {
			background-color: lighten($colorGrayLight, 10%);
			.header-download__title {
				color: $colorPrimary
			}
			
		}
		
		&__icon {
			display: block;
			margin-right: 1.25*$spacer;
			fill: $colorPrimary;
			
			@include media-breakpoint-down(xl) {
				height: 3*$spacer
			}
		}
		
		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			align-self: center;
		}
		
		&__title {
			display: block;
			margin: 0 0 0.75*$spacer 0;
			color: $colorAccent;
			font-family: $font-family-base;
			font-size: 1.125*$font-size-base;
			font-weight: 700;
			line-height: 1.125*$font-size-base;
			text-transform: uppercase;
			
			@include transition();
			
			@include media-breakpoint-down(xl) {
				margin-bottom: 0.5*$spacer;
				font-size: 0.875*$font-size-base;
				line-height: 0.875*$font-size-base;
			}
		}
		
		&__text {
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			color: $colorGray;
			font-family: $font-family-second;
			font-size: 1.125*$font-size-base;
			font-weight: 100;
			line-height: 1.125*$font-size-base;
			
			@include media-breakpoint-down(xl) {
				font-size: 0.875*$font-size-base;
				line-height: 0.875*$font-size-base;
			}
		}
		
		&__spacer {
			display: inline-block;
			height: 1.125*$font-size-base;
			width: 1px;
			margin: 0 0.5*$spacer;
			
			background-color: $colorGray;
		}
		
	}
	
	&__scroll {
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		@include transition();
		
		&:hover {
			opacity: 0.8;
		}
		
	}
	
	&-social {
		.social__link {
			&:first-child {
				margin-left: 0
			}
		}
	}
}


.social {
	display: flex;
	
	&__link {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin: 0.5*$spacer;
		
		fill: $colorPrimary;
		
		&:hover {
			fill: $colorWhite;
		}
	}
}

.icon path {
	fill: inherit;
}
