// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$angle-lb-name: 'angle-lb';
$angle-lb-x: 0px;
$angle-lb-y: 0px;
$angle-lb-offset-x: 0px;
$angle-lb-offset-y: 0px;
$angle-lb-width: 36px;
$angle-lb-height: 36px;
$angle-lb-total-width: 72px;
$angle-lb-total-height: 72px;
$angle-lb-image: '~sprite.png';
$angle-lb: (0px, 0px, 0px, 0px, 36px, 36px, 72px, 72px, '~sprite.png', 'angle-lb', );
$angle-lt-name: 'angle-lt';
$angle-lt-x: 36px;
$angle-lt-y: 0px;
$angle-lt-offset-x: -36px;
$angle-lt-offset-y: 0px;
$angle-lt-width: 36px;
$angle-lt-height: 36px;
$angle-lt-total-width: 72px;
$angle-lt-total-height: 72px;
$angle-lt-image: '~sprite.png';
$angle-lt: (36px, 0px, -36px, 0px, 36px, 36px, 72px, 72px, '~sprite.png', 'angle-lt', );
$angle-rb-name: 'angle-rb';
$angle-rb-x: 0px;
$angle-rb-y: 36px;
$angle-rb-offset-x: 0px;
$angle-rb-offset-y: -36px;
$angle-rb-width: 36px;
$angle-rb-height: 36px;
$angle-rb-total-width: 72px;
$angle-rb-total-height: 72px;
$angle-rb-image: '~sprite.png';
$angle-rb: (0px, 36px, 0px, -36px, 36px, 36px, 72px, 72px, '~sprite.png', 'angle-rb', );
$angle-rt-name: 'angle-rt';
$angle-rt-x: 36px;
$angle-rt-y: 36px;
$angle-rt-offset-x: -36px;
$angle-rt-offset-y: -36px;
$angle-rt-width: 36px;
$angle-rt-height: 36px;
$angle-rt-total-width: 72px;
$angle-rt-total-height: 72px;
$angle-rt-image: '~sprite.png';
$angle-rt: (36px, 36px, -36px, -36px, 36px, 36px, 72px, 72px, '~sprite.png', 'angle-rt', );
$spritesheet-width: 72px;
$spritesheet-height: 72px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($angle-lb, $angle-lt, $angle-rb, $angle-rt, );
$spritesheet: (72px, 72px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
