$grid-breakpoints: (
	xs: 0, /* телефон 320-375 */
	sm: 768px, /* 768-1024 - планшет */
	md: 1000px, /* ноутбук 1280-1366 */
	lg: 1260px, /* большой ноутбук 1440-1680 */
	xl: 1420px, /* 1920 */
	hd: 1820px
);

$container-max-widths: (
	xs: 640px,
	sm: 740px,
	md: 980px,
	lg: 1240px,
	xl: 1400px,
	hd: 1800px
);

// Fonts
$font-family-base: 'Ubuntu', -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
$font-family-second: 'Helvetica Neue', -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
$font-family-accent: 'Bodoni', -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;
$font-size-base: 1rem;

$colorPrimary: #bf9138;
$colorAccent: #202020;
$colorWait: #778899;
$colorBlack: #223344;
$colorGray: #666666;
$colorLight: #f0f0f0;
$colorGrayLight: #ededed;
$colorHr: #d8d8d8;
$colorGreen: #99bb11;
$colorText: #667788;
$colorTextDark: #bab9bf;
$colorWhite: #fff;

@mixin transition($x: .3s) {
	transition: $x;
}

@mixin icon($url, $width: $spacer, $height: $spacer) {
	content: '';
	display: inline-block;
	width: $width * $spacer;
	height: $height * $spacer;
	background: {
		image: url($url);
		size: contain;
		repeat: no-repeat;
		position: center center;
	};
}



//Z-INDEX
$z-index-base: 10;
$z-index-overlay: 90;
$z-index-modal: 100;
$z-index-modal-close: 110;