.footer {
	background-color: $colorAccent;
	padding: 2*$spacer 0;

	@include media-breakpoint-down(xl) {
		padding: 1.5*$spacer 0;
	}
	
	&__cooperating {
		display: block;
		color: $colorGray;
		font-family: $font-family-base;
		font-size: 0.875*$font-size-base;
		font-weight: 400;

		@include media-breakpoint-down(xl) {
			font-size: 0.75*$font-size-base;
		}
	}
}