div.page-section.page-section_dark.in-russia
	div.container
		div.row
			div.col
				+heading('Evona, Nysense Paris в России')

		div.row
			div.col
				div.step
					+svgIcon(62, 58, 'step__icon', '#reputation')
					span.step__text Безупречная репутация поставщика

			div.col
				div.step
					+svgIcon(86, 61, 'step__icon', '#2003')
					span.step__text Опыт на российском fashion рынке

			div.col
				div.step
					+svgIcon(69, 64, 'step__icon', '#star')
					span.step__text Классный сервис

			div.col
				div.step
					+svgIcon(64, 64, 'step__icon', '#complex')
					span.step__text Комплесное сопровождение на всех этапах сотрудничетсва

		hr.hr

		div.row.justify-content-between
			div.col-3
				div.stage
					h3.stage__title(data-stage='1') Заказ
						+svgIcon(512, 512, 'stage__icon', '#two-arrow')
					ul.list
						li.list__item Уютный современный шоурум в 5 минутах от метро Тульская
						li.list__item Бронирование гостиницы (3 минуты пешком от шоурума)
						li.list__item Модели для примерки
						li.list__item Рекомендации по заказу, ассортиментная матрица
						li.list__item Ваш заказ доступен для просмотра и корректировки в режиме online с ПК, планшета или смарфона

			div.col-3
				div.stage
					h3.stage__title(data-stage='2') Поставки
						+svgIcon(512, 512, 'stage__icon', '#two-arrow')
					ul.list
						li.list__item Оперативные поставки со склада в Москве
						li.list__item Бесплатные фирменные пакеты
						li.list__item Рекламные материалы: каталоги, видео, брошюры

			div.col-3
				div.stage
					h3.stage__title(data-stage='3') Продажи
						+svgIcon(512, 512, 'stage__icon', '#two-arrow')

					ul.list
						li.list__item Помощь в обучении персонала, способствующая увеличению продаж
						li.list__item Анализ продаж, рекомендации на основе анализа продаж
						li.list__item Возможность дозаказа самых востребованных позиций
