div.row.history
	div.col-4
		div.history-item
			+svgIcon(65, 64, 'history-item__icon', '#calendar')
			div.history-item-contnent
				h3.history-item__title Дата основания
				div.history-item__text
					span.history-item__upper 2002
					=" "
					| год

	div.col-4
		div.history-item
			+svgIcon(83, 64, 'history-item__icon', '#paris')
			div.history-item-contnent
				h3.history-item__title Происхождение
				div.history-item__text
					span.history-item__upper Париж,
					=" "
					| Франция

	div.col-4
		div.history-item
			+svgIcon(52, 64, 'history-item__icon', '#owl')
			div.history-item-contnent
				h3.history-item__title Философия
				div.history-item__text.history-item__text_italic Естественность и элегантность, изысканность и чувственность,истинная женственность, сочетающая в себе роскошь и романтичность, великолепие и изяществогод