extends layout/index
block title
	title Evona & Nysense

block main
	include components/Steps/Steps
	form-partners

	div.page-section.page-section_light
		div.container
			div.row
				div.col-12
					+heading('Evona, Nysense Paris', 'Атмосфера французской романтики – моды всего мира')

					include components/History/History

					hr.hr

					include components/Info/Info

	include components/Profits/Profits
	include components/InRussia/InRussia
	include components/Session/Session
	form-access
	include components/Cooperation/Cooperation
	form-meeting
	include components/Contacts/Contacts