div.contacts
	div.row.contacts__row
		div.col-4.d-flex.align-items-center.justify-content-center.p-0
			div.contacts-info
				h2.heading-b2b Контакты

				div.contacts-target Шоурум
					span.contacts-target__name Evona, Nysense Paris

				div.contacts-adres 117500, г. Москва,
					br
					| Варшавское шоссе, д.1 стр.6, БЦ WPlaza 2
					br
					| +7 (495) 109-04-59
					br
					a.link(href='mailto:hello@evona-nysesne.ru') hello@evona-nysesne.ru

				button.button.button_primary.button_lg(type='button' @click="showPopupCallback()") Задать вопрос

		div.col-8.p-0
			div.contacts__map#js-map