include mixins

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='robots' content='')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=cyrillic')
		block title

	body
		div#app.app
			include ../components/Header/Header

			transition(name='slideInLeft')
				mobile-menu(v-if='menu')

			main.main
				block main

			include ../components/Footer/Footer

			transition(name='fade')
				popup-wrapper(v-if="this.$store.getters.getShowPopupCallback")
					popup-callback

